@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.heroHeight {
  min-height: 90vh;
}

.gradient {
  background: linear-gradient(-80deg, #ff6347, #ffffff);
}

@keyframes moveLeft {
  to {
    transform: translateX(-100%);
  }

  /* Mover completamente fuera del contenedor a la izquierda */
}

.iconBrand-container {
  display: flex;
  /* Utiliza flexbox para alinear los iconos */
  overflow: hidden;
  /* Oculta los iconos que se mueven fuera del contenedor */
}

.iconBrand {
  flex-shrink: 0;
  /* Evita que los iconos se reduzcan para ajustarse al contenedor */
  padding: 0 20px;
  /* Espaciado entre iconos */
  animation: moveLeft 10s linear infinite;
  /* Aplica la animación */
  white-space: nowrap;
  /* Evita que los iconos se envuelvan en varias líneas */
}

.btn-outline-primary{
  color: #ff6347;
  border-color: #ff6347;
}

.btn-primary{
  border-color: #ff6347;
  color: #fff;
  background-color: #ff6347;
}

.btn-primary:hover,
.btn-primary:active,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn-primary:focus-visible{
  border-color: #ff6347;
  color: #fff;
  background-color: #ff6347;
  opacity: 0.9;
}

.btn-outline-primary:hover{
  background-color: #ff6347;
  border-color: white;
}

h1,
h4{
  color: #ff6347;
}

.social-icons a {
  display: inline-block; /* Asegura que los elementos a se comporten como bloques en línea */
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave de 0.3 segundos a la transformación */
}

.social-icons a:hover {
  color: #F05754;
  transform: scale(1.2); /* Aumenta el tamaño del icono al 120% cuando se hace hover */
}

.social-icons i:hover {
  color: #F05754;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
